@import "tailwindcss";

/* Optional: Geist fonts */
:root {
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

/* Optional: dark mode overrides */
/* [data-theme="dark"] {
	--color-primary: #ffffff;
	--color-dark-gray: #9999a1;
	--color-light-gray: #66666e;
	--color-dark-beige: #f4f4f6;
	--color-beige: #e6e6e9;
	--color-mint: #ff9e96;
	--color-pink: #ff99bb;
} */

/* Apply fonts globally */
body {
	font-family: var(--font-sans), Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@layer utilities {
	.text-mint {
		color: var(--color-mint);
	}
	.text-pink {
		color: var(--color-pink);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes scaleIn {
	from {
		opacity: 0;
		transform: scale(0.95);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

.animate-fadeIn {
	animation: fadeIn 0.2s ease-out forwards;
}
.animate-scaleIn {
	animation: scaleIn 0.2s ease-out forwards;
}

/**
 * =================================================================
 * Z-INDEX STRATEGY DEFINITION (Defined in tailwind.config.js)
 * -----------------------------------------------------------------
 * A standardized stacking context to manage component layering:
 *
 * | Semantic Name        | Value | Purpose                                 |
 * |----------------------|-------|-----------------------------------------|
 * | z-default            | 1     | Minor stacking context, small popovers  |
 * | z-header             | 50    | App Header (Base UI)       |
 * | z-sidebar-backdrop   | 100   | Mobile Sidebar Overlay/Dimming          |
 * | z-sidebar            | 101   | Mobile Sidebar Panel (Above its backdrop)|
 * | z-modal              | 200   | AddModal/Cloth+RandomClothView		    |
 * | z-alert              | 500   | System Alerts, Toasts, Popups           |
 * -----------------------------------------------------------------
 * Components should always close lower-priority UI (like the sidebar)
 * =================================================================
 */
