# Virtual environments
venv/
env/
.venv/
.env/

# Python cache
*.pyc
__pycache__/
*.pyo
*.pyd
.Python

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/

# Flask
instance/
.pytest_cache/
.coverage
htmlcov/

# Environment
.env
.flaskenv